node_modules/
dist/
build/
venv*/
env*/
__pycache__/
*.pyc
.env
.DS_Store
*.pth
*.pt
*.safetensors
*.bin
*.exe
*.zip
*.tar.gz
*.mp4
*.wav
*.mp3
model-server/outputs_sadtalker/
model-server/SadTalker/results/
model-server/StyleTTS2/Models/
database/
client/node_modules/
server/node_modules/
